<nav class="navbar fixed-top">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <span class="navbar-brand text-light fw-bold">Factus</span>

        <div class="offcanvas offcanvas-start text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header ">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT3qyTW8s6UfaD4vVMLkLR7kgq7r3v_FOkjPg&s" alt="Factus logo" class="logo">
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link text-light" aria-current="page" [routerLink]="['']">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" [routerLink]="['/emitir-factura']">Emitir factura</a>
                    </li>
                </ul>
                <ul class="navbar-nav position-absolute bottom-0">
                    <li class="nav-item">
                        <a class="nav-link text-light text-center" role="button" (click)="logOut()">Cerrar sesión</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>